* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 50px;

    background-color: rgba(170, 164, 160, 0.856);
}

.paises {
    display: flex;
    flex-direction: column;
    margin-top: 80px ;
    gap: 100px;
}

img {
    width: 600px;
    height: 370px;
}

.informePais {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    gap: 10px;     
}

.busca {
    all: unset;

    padding: 5px 15px;
    border-radius: 7px;

    background-color: #FFF;
    border: 1px solid rgb(122, 119, 119);

    cursor: pointer;
}

.busca:focus{
    border: 2px solid rgb(70, 107, 228);
}

.hide {
    display: none;
}
